.env
notes.md

# Ignore l'environnement virtuel
env/

# Ignore les fichiers Python compilés
*.pyc
__pycache__/

# Ignore la base de données SQLite
db.sqlite3

# Ignore les fichiers de log
*.log

# Ignore les fichiers de configuration locaux
*.env
.local_settings.py

# Ignore les fichiers de configuration d'IDE
.vscode/
.idea/

# Ignore les fichiers système
.DS_Store
Thumbs.db
ehthumbs.db

*.pytest_cache/
.pytest_cache/
.tox/
coverage.*
htmlcov/

#Sauvegardes & temporaires
*.swp
*.bak
*.tmp
